/* .callit {
  width: 100vw;
  height: 100vh;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: url();
}

animate-projectPage-background bg-opacity-10   bg-[url('${data?.imgSrc}')] */
