@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(6, 3, 24);
  }
}
body {
  color: rgb(179, 179, 179);
}

/* By default when we use Tailwind our element are unstyled. On the top I have 3 directives(baxshname-rahnama) to import 3 layers in tailwind
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  I can use other directive for overriding the styles in the base layers. =>
  */
@layer base {
  /* I apply tailwind classes to all my h1 elements to be decent(araste) */
  /* html {
    font-family: system-ui, -apple-system, sans-serif;
  } */
  h1 {
    @apply font-bold text-2xl mb-2;
  }
  h2 {
    @apply font-bold text-xl mt-10 mb-2;
  }
  p {
    @apply font-normal text-lg;
  }
  pre {
    font-family: "Times New Roman", Times, serif;
    @apply font-mono mockup-code m-10 p-10;
  }
  li {
    @apply list-disc list-inside ml-5;
  }
}
